@font-face {
  font-family: 'Poppins';
  src:  url(assets/fonts/Poppins-Bold.ttf),
        url(assets/fonts/Poppins-BoldItalic.ttf),
        url(assets/fonts/Poppins-ExtraBold.ttf),
        url(assets/fonts/Poppins-ExtraBoldItalic.ttf),
        url(assets/fonts/Poppins-Italic.ttf),
        url(assets/fonts/Poppins-Regular.ttf);
}

$purple: hsl(259, 100%, 65%);

body {
  font-family: 'Poppins', sans-serif;
  background-color: hsl(0, 0%, 94%);
  height: 100svh;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  flex-direction: column;
  border-radius: 1.5rem;
  background-color: white;
  padding: 1.5rem;
  border-bottom-right-radius: 10rem;
  width: 38rem;

  .separator {
    display: flex;
    align-items: center;

    hr {
      display: inline-block;
      width: 100%;
      border: none;
      border-top: solid 1px hsl(0, 0%, 86%);
    }
  
    img {
      padding: 0.8rem;
      border-radius: 50px;
      background-color: $purple;

      &:hover {
        background-color: hsl(0, 0%, 8%); 
      }
    }
  }

  form {
    display: flex;

    fieldset {
      border: none;
      margin: 0;

      label {
        display: block;
        font-size: 14px;
        letter-spacing: 2px;
        color: hsl(0, 1%, 44%);
      }

      &:invalid {
        label {
          color: red;
        }
        input {
          border-color: red;
        }
      }
    }



    input[type="text"] {
      font-size: 32px;
      font-weight: 700;
      width: 7rem;
      padding: 0.6rem;
      border: none;
      border: solid 1px #ccc;
      border-radius: 6px;
      caret-color: transparent;

      &:focus {
        outline: none;
        border-color: $purple;
      }
    }

    span {
      display: block;
    }

    input:invalid:required + span:after {
      content: "This Field is Required";
      color: red;
      font-style: italic;
      font-weight: normal;
    }

  }

  p {

    span {
      color: $purple;
    }

    display: block;
    font-weight: 800;
    font-size: 84px;
    font-style: italic;
    line-height: 1;
    margin: 0
  }
}
